/* Base
########     ###     ######  ######## 
##     ##   ## ##   ##    ## ##       
##     ##  ##   ##  ##       ##       
########  ##     ##  ######  ######   
##     ## #########       ## ##       
##     ## ##     ## ##    ## ##       
########  ##     ##  ######  ########
--------------------------------------------------------------------------- */

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    font: 400 16px/1.6em sans-serif;
}

body {
    color: #333;
    background: #f8f8f8;
}

a {
    text-decoration: none;
    color: #0094ed;
}

a:hover,
a:focus {
    color: #0074ba;
}


/* Typography
######## ##    ## ########   #######  
   ##     ##  ##  ##     ## ##     ## 
   ##      ####   ##     ## ##     ## 
   ##       ##    ########  ##     ## 
   ##       ##    ##        ##     ## 
   ##       ##    ##        ##     ## 
   ##       ##    ##         #######  
 ######   ########     ###    ########  ##     ## ##    ## 
##    ##  ##     ##   ## ##   ##     ## ##     ##  ##  ##  
##        ##     ##  ##   ##  ##     ## ##     ##   ####   
##   #### ########  ##     ## ########  #########    ##    
##    ##  ##   ##   ######### ##        ##     ##    ##    
##    ##  ##    ##  ##     ## ##        ##     ##    ##    
 ######   ##     ## ##     ## ##        ##     ##    ##
--------------------------------------------------------------------------- */

h1,
.h1 {
    font-size: 3.375em;
    line-height: 0.71111em;
    margin: 0 0 0.47407em 0;
}

h2,
.h2 {
    font-size: 2.25em;
    line-height: 1.06667em;
    margin: 0 0 0.71111em 0;
}

h3,
.h3 {
    font-size: 1.5em;
    line-height: 1.06667em;
    margin: 0 0 1.06667em 0;
}

h4,
.h4 {
    font-size: 1em;
    line-height: 1.6em;
    margin: 0 0 1.6em 0;
}

h5,
.h5 {
    font-size: 0.66667em;
    line-height: 2.4em;
    margin: 0 0 2.4em 0;
}

h6,
.h6 {
    font-size: 0.44444em;
    line-height: 3.6em;
    margin: 0 0 3.6em 0;
}

p,
ul,
ol,
hr,
table,
pre,
dl {
    font-size: 1em;
    line-height: 1.6em;
    margin: 0 0 1.6em 0;
}


/* Header
##     ## ########    ###    ########  ######## ########  
##     ## ##         ## ##   ##     ## ##       ##     ## 
##     ## ##        ##   ##  ##     ## ##       ##     ## 
######### ######   ##     ## ##     ## ######   ########  
##     ## ##       ######### ##     ## ##       ##   ##   
##     ## ##       ##     ## ##     ## ##       ##    ##  
##     ## ######## ##     ## ########  ######## ##     ##
--------------------------------------------------------------------------- */

.main-header {
    padding: 4.8em 0;
    margin-bottom: 1.6em;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background: #333;
    background: #BE532C;
    /*background-image: -webkit-gradient(linear, left top, left bottom, from(#E2683C), to(#BE532C));
    background-image: -webkit-linear-gradient(top, #E2683C, #BE532C);
    background-image: linear-gradient(to bottom, #E2683C, #BE532C);*/
    background-image: url('../img/axiom-pattern.png');
}


/* Buttons
########  ##     ## ######## ########  #######  ##    ##  ######  
##     ## ##     ##    ##       ##    ##     ## ###   ## ##    ## 
##     ## ##     ##    ##       ##    ##     ## ####  ## ##       
########  ##     ##    ##       ##    ##     ## ## ## ##  ######  
##     ## ##     ##    ##       ##    ##     ## ##  ####       ## 
##     ## ##     ##    ##       ##    ##     ## ##   ### ##    ## 
########   #######     ##       ##     #######  ##    ##  ######
--------------------------------------------------------------------------- */

.btn {
    display: inline-block;
    padding: 0.53333em 1.6em;
    border: 0;
    font-family: inherit;
    line-height: 1.6em;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: #fff;
    background: #ddd;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.btn:hover, .btn:focus {
    color: #fff;
}
.btn:focus {
    outline: none;
}
.btn[disabled] {
    cursor: not-allowed;
}

.btn--orange {
    background: #F16529;
    -webkit-box-shadow: 0 4px 0 #c1430d;
          box-shadow: 0 4px 0 #c1430d;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}
.btn--orange:hover, .btn--orange:focus {
    background: #f37641;
    -webkit-box-shadow: 0 6px 0 #c1430d;
            box-shadow: 0 6px 0 #c1430d;
    -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
            transform: translateY(-2px);
}
.btn--orange:active {
    background: #d94b0e;
    -webkit-box-shadow: 0 2px 0 #c1430d;
            box-shadow: 0 2px 0 #c1430d;
    -webkit-transform: translateY(2px);
        -ms-transform: translateY(2px);
            transform: translateY(2px);
}

.btn--blue {
    background: #29A8DF;
    -webkit-box-shadow: 0 4px 0 #1879a3;
            box-shadow: 0 4px 0 #1879a3;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}
.btn--blue:hover, .btn--blue:focus {
    background: #3fb1e2;
    -webkit-box-shadow: 0 6px 0 #1879a3;
            box-shadow: 0 6px 0 #1879a3;
    -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
            transform: translateY(-2px);
}
.btn--blue:active {
    background: #1c8ab9;
    -webkit-box-shadow: 0 2px 0 #1879a3;
            box-shadow: 0 2px 0 #1879a3;
    -webkit-transform: translateY(2px);
        -ms-transform: translateY(2px);
            transform: translateY(2px);
}

.btn--yellow {
    background: #EFDA5B;
    -webkit-box-shadow: 0 4px 0 #e7c917;
            box-shadow: 0 4px 0 #e7c917;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}
.btn--yellow:hover, .btn--yellow:focus {
    background: #f1df72;
    -webkit-box-shadow: 0 6px 0 #e7c917;
            box-shadow: 0 6px 0 #e7c917;
    -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
            transform: translateY(-2px);
}
.btn--yellow:active {
    background: #ead02d;
    -webkit-box-shadow: 0 2px 0 #e7c917;
            box-shadow: 0 2px 0 #e7c917;
    -webkit-transform: translateY(2px);
        -ms-transform: translateY(2px);
            transform: translateY(2px);
}

.btn--green {
    background: #4db354;
    -webkit-box-shadow: 0 4px 0 #367e3b;
            box-shadow: 0 4px 0 #367e3b;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}
.btn--green:hover, .btn--green:focus {
    background: #5fbb65;
    -webkit-box-shadow: 0 6px 0 #367e3b;
            box-shadow: 0 6px 0 #367e3b;
    -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
            transform: translateY(-2px);
}
.btn--green:active {
    background: #3d9043;
    -webkit-box-shadow: 0 2px 0 #367e3b;
            box-shadow: 0 2px 0 #367e3b;
    -webkit-transform: translateY(2px);
        -ms-transform: translateY(2px);
            transform: translateY(2px);
}

.btn--block {
    width: 100%;
}

.btn--large {
    font-size: 1.5em;
    line-height: 1.06667em;
    margin: 0 0 1.06667em 0;
}


/* Forms
--------------------------------------------------------------------------- */

.form-row {
    margin-bottom: .8em;
}

.form-input {
    width: 100%;
    padding: .8em;
    border: solid 1px #555;
}


/* Page Styles
########     ###     ######   ######## 
##     ##   ## ##   ##    ##  ##       
##     ##  ##   ##  ##        ##       
########  ##     ## ##   #### ######   
##        ######### ##    ##  ##       
##        ##     ## ##    ##  ##       
##        ##     ##  ######   ########

 ######  ######## ##    ## ##       ########  ######  
##    ##    ##     ##  ##  ##       ##       ##    ## 
##          ##      ####   ##       ##       ##       
 ######     ##       ##    ##       ######    ######  
      ##    ##       ##    ##       ##             ## 
##    ##    ##       ##    ##       ##       ##    ## 
 ######     ##       ##    ######## ########  ######
--------------------------------------------------------------------------- */

dt {
    margin-top: 0.8em;
    font-weight: 700;
}
dt:first-child {
    margin-top: 0;
}

dd {
    margin-left: 1.6em;
}

pre,
code {
    font-family: 'Inconsolata', 'Menlo', 'monospace';
}

pre {
    background: #1d1f21;
}

code {
  display: inline-block;
  padding: 0 4px;
  color: #f0f0f0;
  background: #1d1f21;
}

pre code {
}

.block {
    margin-bottom: 1.6em;
}

.container {
    width: 95%;
    max-width: 1120px;
    margin: 0 auto;
}

.section {
    margin-bottom: 3.2em;
}

.page-title {
    margin-bottom: 0;
    line-height: 1.2em;
}

.heading-subchapter {
    position: relative;
    border-bottom: solid 2px #555;
}

.heading-subchapter-anchor {
    position: absolute;
    top: 0;
    right: 100%;
    display: none;
    padding: 0 8px;
    font-size: 18px;
}

.heading-subchapter:hover .heading-subchapter-anchor {
    display: block;
}

.quote {
    position: relative;
    padding: 1.6em;
    font-family: 'Cambria', 'Georgia', 'serif';
    font-style: italic;
    font-weight: 600;
}

.quote:after {
    position: absolute;
    top: 20px;
    right: 20px;
    margin: 0;
    font-size: 3.375em;
    color: #777;
    content: '\201d';
}

.quote-msg {
    margin-bottom: .8em;
}


/* Breadcrumbs
--------------------------------------------------------------------------- */

.breadcrumb {
    padding: 0;
    margin: 0 0 1.6em 0;
    list-style: none;
}

.breadcrumb li {
    position: relative;
    display: inline-block;
}

.breadcrumb li:after {
    margin: 0 .4em;
    content: '\2192';
}

.breadcrumb li:last-child:after {
    content: '';
}


/* JS info
--------------------------------------------------------------------------- */

.js-info {
    padding: 1.6em;
    border: solid 1px #ccc;
    background: #fff;
}


/* Helpers
##     ## ######## ##       ########  ######## ########   ######  
##     ## ##       ##       ##     ## ##       ##     ## ##    ## 
##     ## ##       ##       ##     ## ##       ##     ## ##       
######### ######   ##       ########  ######   ########   ######  
##     ## ##       ##       ##        ##       ##   ##         ## 
##     ## ##       ##       ##        ##       ##    ##  ##    ## 
##     ## ######## ######## ##        ######## ##     ##  ######
--------------------------------------------------------------------------- */

.cf:after {
    display: table;
    clear: both;
    content: '';
}

.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}