---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1>{{ page.title }}</h1>
    <p class="meta">
      <time datetime="{{ page.date }}">{{ page.date | date: "%b %-d, %Y" }}</time>
      {% if page.author %}
        • 
        {% if page.author_t %}
          <a href="//twitter.com/{{ page.author_t }}" target="_blank">{{ page.author }}</a>
        {% else %}
          {{ page.author }}
        {% endif %}
      {% endif %}
      {% if page.meta %} • {{ page.meta }}{% endif %}
    </p>
  </header>

  <article class="post-content">
  {{ content }}
  </article>

  <section>
    <div id="disqus_thread"></div>
  </section>
  <link href="http://google-code-prettify.googlecode.com/svn/trunk/src/prettify.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" language="javascript" src="http://google-code-prettify.googlecode.com/svn/trunk/src/prettify.js"></script>
<script type="text/javascript" language="javascript" src="http://google-code-prettify.googlecode.com/svn/trunk/src/lang-css.js"></script>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded',function() {
        prettyPrint();
    });
</script>

</div>